In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
from jupyterthemes import jtplot
jtplot.style()

In [11]:
x_train = pd.read_csv("Linear_X_Train.csv")
y_train = pd.read_csv("Linear_Y_Train.csv")

In [12]:
x_train.head()

          x
0 -0.289307
1 -0.588810
2  1.027507
3 -0.259013
4  0.782043

In [13]:
y_train.head()

           y
0  -0.091101
1 -53.467721
2  75.457009
3 -12.025286
4  57.414187

In [15]:
x_test = pd.read_csv("Linear_X_Test.csv")

In [16]:
x_test.head()

          x
0 -1.877944
1 -0.869032
2 -2.530182
3  2.760205
4  0.591000