In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
from sklearn.linear_model import LinearRegression

In [2]:
lr = LinearRegression()

In [3]:
x = pd.read_csv("Training Data/Linear_X_Train.csv")
y = pd.read_csv("Training Data/Linear_Y_Train.csv")

In [4]:
y.head()

           y
0  -0.091101
1 -53.467721
2  75.457009
3 -12.025286
4  57.414187

In [5]:
lr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
lr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
lr.score(x,y)

0.9709612233822353

In [8]:
lr.intercept_

array([3.72798828])

In [9]:
lr.coef_

array([[80.54363185]])

In [10]:
xtest = pd.read_csv("Test Cases/Linear_X_Test.csv")

In [11]:
xtest.shape

(1250, 1)

In [12]:
y = lr.predict(xtest)

In [13]:
print(y)

[[-147.52847525]
 [ -66.26699842]
 [-200.06209345]
 ...
 [  14.0382031 ]
 [ -18.66616899]
 [ -51.07594693]]

In [14]:
y.shape[0]

1250

In [15]:
with open('Sample_Submission.csv', 'w') as csvFile:
    writer = csv.writer(csvFile)
    m = y.shape[0]
    writer.writerow(["y"])
    for i in range(m):
        l = y[i]
        writer.writerow(l)
    csvFile.close()

In [16]:
ans = pd.read_csv("Sample_Submission.csv")

In [17]:
ans.shape

(1250, 1)

In [18]:
print(ans)

               y
0    -147.528475
1     -66.266998
2    -200.062093
3     226.044960
4      51.329285
5    -100.624379
6     -12.125254
7      27.252959
8     -62.454159
9    -117.213618
10    -10.669528
11      9.542993
12    -36.916575
13     68.254643
14     11.652051
15     -9.450807
16     26.494476
17    107.726360
18    177.226579
19     23.095251
20    -31.079395
21     22.188860
22    -52.495101
23   -147.007525
24     69.547784
25    110.116695
26    155.291370
27     11.834716
28     34.648178
29    -91.994879
...          ...
1220  -12.766261
1221   34.362936
1222   63.750793
1223   39.835226
1224  -90.398206
1225 -101.816274
1226   63.744913
1227 -101.360047
1228   56.629543
1229  -80.200999
1230  -85.745676
1231   25.355904
1232  -97.162094
1233   -0.252791
1234  -34.840085
1235  -71.236201
1236  -36.372666
1237  -25.176892
1238   91.532399
1239   76.163973
1240   -9.624295
1241   -0.818951
1242   89.246621
1243   31.688955
1244  -72.733128
1245   -9.808053
1246   78.812578
1247   14.038203
1248  -18.666169
1249  -51.075947

[1250 rows x 1 columns]

In [19]:
df_concat = np.asarray(y)

In [20]:
print(df_concat)

[[-147.52847525]
 [ -66.26699842]
 [-200.06209345]
 ...
 [  14.0382031 ]
 [ -18.66616899]
 [ -51.07594693]]

In [21]:
with open('Sample_Submission.csv', 'w') as csvFile:
    writer = csv.writer(csvFile)
    m = len(df_concat)
    writer.writerow(["y"])
    for i in range(m):
        l = y[i]
        writer.writerow(l)
    csvFile.close()