# Jupyter notebook shortcut

### esc+m                =>    markdown cell
### esc+y                 =>    code cell
### esc+dd               =>    delete cell
### esc+a                 =>    insert cell above
### esc+b                 =>    insert cell down

### Printing Star pattern reading n

In [1]:
n = int(input())
print(" ")
for ix in range(1,n):
    print("*"*ix)

6

*
**
***
****
*****

In [2]:
n = int(input())
print(" ")
for ix in range(1,n):
    print(" "*(n-ix),"*"*ix,"*"*(ix-1),sep="")

6

     *
    ***
   *****
  *******
 *********

In [3]:
s1 = [1,2,3,4,5]
s1.append(6)
# s1.clear?

print(s1)

[1, 2, 3, 4, 5, 6]

In [4]:
ll = input().split()

print(ll)

l = []

for n in ll:
    l.append(int(n))
    
print(l)

1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']
[1, 2, 3, 4, 5, 6]

In [5]:
# List Comprehension
squares = [i**2 for i in l]
print(squares)

[1, 4, 9, 16, 25, 36]

In [6]:
# Taking number list input in single line
l = [int(i) for i in input().split()]
print(l)

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

In [7]:
def fun(a,b=10,*args,**kwargs):
    print("Having fun!")
    print(args)
    print(a,b)
    s = a + b + sum(args)
    print("sum is = ",s)
    print(kwargs)

# args are read-only = tuples
# tuples are read only
# fun(10,20,30,40,50,fruit = "mango")

In [8]:
fun(10,20,30,40,50,fruit="mango")

Having fun!
(30, 40, 50)
10 20
sum is =  150
{'fruit': 'mango'}

In [9]:
# Dictionary

d = {
    "pav-bhaji":100,
    "golgappa":50,
    "idlisambhar":[40,80],
    "maggi":{"regular":20,"cheese":30}
}

In [10]:
l=(d.keys())
list(l)

['pav-bhaji', 'golgappa', 'idlisambhar', 'maggi']

In [11]:
list((1,8,9))

[1, 8, 9]

In [12]:
d.keys()

dict_keys(['pav-bhaji', 'golgappa', 'idlisambhar', 'maggi'])

In [13]:
d.values

In [14]:
d.values()

dict_values([100, 50, [40, 80], {'regular': 20, 'cheese': 30}])

In [15]:
l = [1,2,3,4,5]
t = tuple(l)

In [16]:
print(t)
# print(l)

(1, 2, 3, 4, 5)

In [17]:
con = tuple(["india", "us", "sa"])
cap = ["Delhi", "Washington DC", "Tokyo"]

d = dict(zip(con, cap))

In [18]:
print(d)

{'india': 'Delhi', 'us': 'Washington DC', 'sa': 'Tokyo'}

### Classes and Objects

In [19]:
class Student:
    
    class_marks = []
    def __init__(self,name,school):
        self.name = name
        self.school = school
    def show(self):
        print(self.name, self.school)

In [20]:
s = Student("Shubham","MAIT")
s2 = Student("Alpha","DTU")
s.class_marks.append(10)

In [21]:
import random

In [22]:
random.randint(10,20)

11

In [23]:
random.seed(10)

In [24]:
l = [i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
random.shuffle(l)

In [26]:
print(l)

[5, 2, 7, 1, 8, 4, 3, 6, 0, 9]